<div class="container mt-5" id="editarcontainer">
    <h5>Crear Ususario</h5>
    <hr>
    <form action="#">
        <div class="row">
            <div class="col">
                <label for="nombre">Nombre Ususario:</label>
                <input type="text" class="form-control" name="nombre" id="nombre" [(ngModel)]="nombre" required>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <label for="direccion">Direccion:</label>
                <input type="text" class="form-control" name="direccion" id="direccion" [(ngModel)]="direccion" required>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <label for="telefono">Telefono:</label>
                <input type="text" class="form-control" name="telefono" id="telefono" [(ngModel)]="telefono" required>
            </div>
        </div>
    </form>
    <br>
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-success" (click)="UsuarioEditado()">Editar Usuario</button>
        <button type="button" class="btn btn-danger" (click)="Cancelar()">Cancelar</button>
      </div>
</div>