<div class="container mt-5">
    <h5>Listado de Usuarios</h5>
    <hr>
    <table class="table text-center">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Direccion</th>
            <th scope="col">Telefono</th>
            <th scope="col">Editar | Eliminar</th>
          </tr>
        </thead>
        <tbody *ngFor="let usuario of usuarios">
          <tr>
            <td>{{usuario.id}}</td>
            <td>{{usuario.nombre}}</td>
            <td>{{usuario.direccion}}</td>
            <td>{{usuario.telefono}}</td>
            <td>
                <a routerLink="/editar/{{usuario.id}}" class="btn btn-warning"><i class="bi bi-arrow-clockwise"></i></a> | <a href="" class="btn btn-danger"><i class="bi bi-x-circle-fill"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
</div>